<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @login.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @login.content %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
