
<head>
  <meta charset="UTF-8" lang="ko">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--bootstrap css-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!--index.css-->
  <link rel="stylesheet" type="text/css" href="home.scss">
  <!--<link rel="stylesheet" href="index.css">-->
</head>
<body>

<!--아래 div는 날씨와 오늘의 코디 배치를 위해 넣었어요.-->
<<<<<<< HEAD

<div class="container twoarticle row mt-1 mx-auto">

<h1><%= @locationValue%></h1>

=======
<div class=" container twoarticle row mt-1 ml-auto mr-auto">
>>>>>>> minhyun

<!--<div class="container row col-8 ml-auto mr-auto">-->
  <!--날씨를 보여주는 article-->
  <article class="main-weather container col-8 row justify-content-between">
  <h1 class="sr-only">간략한 날씨를 보여주는 화면</h1>
<<<<<<< HEAD
    <span class="col-6 tletter mt-2">오늘 날씨</span>
    <div class="col-6 mt-2">
      
      <!--<%= select_tag(:city_id, options_for_select([['Lisbon', 1], ['Madrid', 2]], 1)) %>-->
      
      <!-- <form name="sido" id="search_area form"  class="search_area offset-md-6 col-6 ">-->
          <!--지역선택-->
      <!--  <select name="sido" id="search_area" class="search_area offset-md-6 col-6 " title="지역 선택" >-->
      <!--    <option value="">지역 선택</option>-->
      <!--                <option value="1">강원도</option>-->
      <!--                <option value="2">부산광역시</option>-->
      <!--                <option value="3">서울특별시</option>-->
      <!--                <option value="4">경기도</option>-->
      <!--                <option value="5">경상남도</option>-->
      <!--                <option value="6">경상북도</option>-->
      <!--                <option value="7">광주광역시</option>-->
      <!--                <option value="8">대구광역시</option>-->
      <!--                <option value="9">대전광역시</option>-->
      <!--                <option value="10">세종특별자치시</option>-->
      <!--                <option value="11">울산광역시</option>-->
      <!--                <option value="12">인천광역시</option>-->
      <!--                <option value="13">전라남도</option>-->
      <!--                <option value="14">전라북도</option>-->
      <!--                <option value="15">제주특별자치도</option>-->
      <!--                <option value="16">충청남도</option>-->
      <!--                <option value="17">충청북도</option>-->
      <!--  </select>-->
        <div class="dropdown">
=======
    <span class="col-6 tletter mt-2">오늘 날씨</span>`

  <div class="offset-md-2 col-4 mt-2">
  <div class="offset-md-5 dropdown">

          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            지역 선택
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

       <!--</form>-->

            <button class="dropdown-item" type="button"><a href="/?id=강원도">강원도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=경기도">경기도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=경상남도">경상남도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=경상북도">경상북도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=광주광역시">광주광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=대구광역시">대구광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=대전광역시">대전광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=부산광역시">부산광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=서울특별시">서울특별시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=세종특별자치시">세종특별자치시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=울산광역시">울산광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=인천광역시">인천광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=전라남도">전라남도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=전라북도">전라북도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=제주특별자치도">제주특별자치도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=충청남도">충청남도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=충청북도">충청북도</a></button>
            
          </div>
        </div>

     

</div>
        <!--날씨-->
        <div class="main-tweather mt-2 row ml-auto mr-auto">

          <div class="col-6 row align-items-center ml-0 mr-0">
            <!-- wansoo : 현재 시각의 날씨 아이콘을 바꿔야해요! assets/ =현재 날씨  .png 이런식으로 바꿔주세요.-->
            <div class="col-5 pl-0 pr-0"><img id="now-images" src="/assets/wicon/<%=@currentData.icon%>.png" alt="now weather icon"></div>


            <!-- wansoo : <값> 괄호까지 지우시고 받아온 값 넣어주시면 됩니당~~-->
            <div class="col-7" id="now-weather">
            <!-- wansoo : 현재 시각(숫자만)을 받아와주세요! " <현재시각>시" 이렇게!!-->
            <% if @korHour == 24 %>
              자정 
            <% elsif @korHour == 12 %>
              정오
            <% elsif @korHour > 12 %>
              오후 <%= @korHour-12 %>시
            <% else %>
              오전 <%= @korHour %>시
            <% end %>
            <br>
            <!-- wansoo : 온도-->
            <%=@currentData.temperature.to_i %>°C<br>
            <!-- wansoo : 현재 시각의 날씨를 받아와주세요  <현재날씨>이렇게 -->
            <%=@currentData.summary %><br>
            <!--wansoo : 습도-->
            습도: <%=(@currentData.humidity * 100).to_i%>%<br>
            <!--wansoo : 최고기온, 최저기온 <몇도> 이부분을 지우고 최고기온, 최저기온을 가져와주세요!--->
            <span class="temper_red"><%= @data[0].temperatureMax.to_i %></span>°C/<span class="temper_blue"><%= @data[0].temperatureMin.to_i %></span>°C <br>
            <!--wansoo : 강수량 <0.0> 지우고 강수량 값 받아와주세여~-->
            <!--완수 코멘트 : 강수량대신 강수확률이 더 사용자가 보기 편할 것 같아서 강수확률로 바꿧어여~-->
            강수확률 : <%=(@currentData.precipProbability * 100).to_i %>%<br>
            <!--wansoo : 미세먼지는 if-else로 단계별로 나타내주시면 감사하겠습니다~~(0-2는 매우좋음? 3-4 좋음, 5-6 중간, 7-8 나쁨, 9-10 : 매우나쁨 이런식으로!!) -->
            미세먼지 : <%= @dustValue %>pm/<%= @dustGrade %> <br>


            </div>
          </div>

          <!--1시간 뒤 예보-->
          <div class="col-3 row align-items-center justify-content-center">
            
         
            <div class=" main-atweather align-items-center justify-content-center row ml-0 mr-0">
            <div class="main-aletter">
              
              <% if @korHour+1== 24 %>
              자정 
              <% elsif @korHour+1 == 12 %>
              정오
              <% elsif @korHour+1 > 12 %>
              오후 <%= (@korHour+1)-12 %>시
              <% else %>
              오전 <%= @korHour+1 %>시
              <% end %> 예보
              
            </div>
            
            <!--wansoo : 현재시각+1의 날씨 아이콘을 바꿔야해요! assets/  1시간 뒤의 날씨  .png 이런식으로 바꿔주세요. -->
                <img  id="after-icon" src="assets/wicon/<%=@hourlyData[1].icon%>.png" alt="after 1hour icon">
            <!-- wansoo : 현재시각+1dml 날씨를 알려주세요!-->
              <div id="after-weather" class="ml-3"><%=@hourlyData[1].summary%></div>
            </div>
          </div>


          <!--2시간 뒤 예보-->
          <div class="col-3 row align-items-center justify-content-center">

        
           
            <div class=" main-atweather align-items-center justify-content-center row ml-0 mr-0">

            <div class="main-aletter">
              <% if @korHour+2== 24 %>
              자정 
              <% elsif @korHour+2 == 12 %>
              정오
              <% elsif @korHour+2 > 12 %>
              오후 <%= (@korHour+2)-12 %>시
              <% else %>
              오전 <%= @korHour+2 %>시
              <% end %> 예보
            </div>
                <img  id="after-icon" src="assets/wicon/<%=@hourlyData[2].icon%>.png" alt="after 2hour icon">

       
              <div id="after-weather" class="ml-3"><%=@hourlyData[2].summary%></div>
            </div>
          </div>

        </div>
  </article>
<!--</div>-->

<article class="col-4">
      <div class="text-center ment align-items-center">
       <% if @data[0].temperatureMax.to_i  >=  20 %>
          <!--폭염img-->
          <div class="ment-img">
          <img src="/assets/toohot">
          </div>
      <% elsif @data[0].temperatureMin.to_i  <= -3 %>
          <!--한파 img-->
          <div class="ment-img">
          <img src="/assets/toocold">
          </div>
          <% if @currentData.windSpeed.to_i >= 3 %>
          <!-- 바람 img -->
          <div class="ment-img">
          <img src="/assets/windy">
          </div>
          <% end %>
          
      <% elsif @currentData.windSpeed.to_i >= 3 %>
        <!-- 바람 img -->
        <div class="ment-img">
        <img src="/assets/windy">
        </div>
        <% if (@currentData.precipProbability * 100).to_i  >= 7 %>
        <!-- 비 img -->
        <div class="ment-img">
        <img src="/assets/rainy">
        </div>
        <% end %>
        
          
      <% end %>
      </div>
  </article>
</div>


<!--article class에 row를 주고 span에 mt-2를 주면 오늘의 날씨 layout에도 영향이가는 이유는 왜일까..?-->
  <article class=" today-best col-3 ml-4 mr-0">
      <span class="tletter mt-2">오늘의 추천코디</span>
      <div class="main-tcody row align-items-center justify-content-center mt-3">
        <img id="main-tcody" src="assets/photo12.jpg" alt="today best cody">
      </div>
  </article>


<div class="container row mt-1 ml-auto mr-auto">

<article class="mt-1 today-closet container">
  <h1 class="tc mt-2">< Today Closet ></h1><br>
  
  <!--하루종일가능-->
    <div class="all">
      <img src="/assets/24.png" >
      </div>
  <table class="table mt-1">
   <thead class="thead">
     
    <tr>
    <th>Outer</th> 
    <th>TOP</th>
    <th>Bottom</th>
    <th>Shoes</th>
    </tr>
    </thead>
    
    <tbody>
    <tr>

      <td>
    <% @outer_O.each do |oo| %>
      <%= oo %><br><br>
    <% end %></td>
      

      <td>
    <% @top_O.each do |to| %>
      <%= to %><br><br>
    <% end %></td>
      
      <td>
    <% @bottom_O.each do |bo| %>
      <%= bo %><br><br>
    <% end %></td>
      
      <td>
    <% @shoes_O.each do |so| %>
      <%= so %><br><br>

    <% end %></td>
      

    <% end %><td>

    <th scope="row">블루종</th>
    <td>불가</td>
    <td>후드</td>
    <td>불가</td>
    <td>청치마</td>
    <td>가능</td>
    <td>원피스</td>
    <td>가능</td>


    </tr>
    </tbody>
  </table><br><br>
  
  <!--<p>< 낮에만 가능 ></p>-->
  <div class="noon">
      <img src="/assets/noon.png" >
      </div>
   <table class="table mt-1">
   <thead class="thead">
     
    <tr>
    <th>Outer</th> 
    <th>TOP</th>
    <th>Bottom</th>
    <th>Shoes</th>
    </tr>
    </thead>
    
    <tbody>
    <tr>

    <tr>
    <th colspan="2">Outer</th> 
    <th colspan="2">TOP</th>
    <th colspan="2">Bottom</th>
    <th colspan="2">shoe</th>
    </tr>
    </thead>
    
    <tbody>
    <tr>
      <td>
    <% @outer_Tp.each do |oo| %>
      <%= oo %><br><br>
    <% end %></td>
      
      <td>
    <% @top_Tp.each do |to| %>
      <%= to %><br><br>
    <% end %></td>
      
      <td>
    <% @bottom_Tp.each do |bo| %>
      <%= bo %><br><br>
    <% end %></td>
      
      <td>
    <% @shoes_Tp.each do |so| %>
      <%= so %><br><br>
    <% end %></td>
      
    </tr>
    </tbody>
  </table><br><br>
  
  
  
     
      <!--<p><아침/밤에만 가능 (세모마이너스)></p>-->
      <div class="mornight">
      <img src="/assets/mornight.png" >
      </div>
    <table class="table mt-1">
   <thead class="thead">
    <tr>
    <th>Outer</th> 
    <th>TOP</th>
    <th>Bottom</th>
    <th>Shoes</th>
    </tr>
    </thead>
    
    <tbody>
    <tr>
      <td>
    <% @outer_Tm.each do |oo| %>
      <%= oo %><br><br>
    <% end %></td>
      
      <td>
    <% @top_Tm.each do |to| %>
      <%= to %><br><br>
    <% end %></td>
      
      <td>
    <% @bottom_Tm.each do |bo| %>
      <%= bo %><br><br>
    <% end %></td>
      
      <td>
    <% @shoes_Tm.each do |so| %>
      <%= so %><br><br>
    <% end %></td>
      
    <th scope="row">가디건</th>
    <td>가능</td>
    <td>맨투맨</td>
    <td>불가</td>
    <td>치마</td>
    <td>가능</td>
    <td></td>
    <td></td>
    </tr>
    </tbody>
  </table><br><br>

  
  </article>

  <!--<footer class="footer">-->
  <!--        <div class="logo__img mx-auto">-->
  <!--          <img src="assets/logo_.png" alt="로고"></img>-->
  <!--        </div>-->
  <!--        <h2 class="service_name">Weather Closet</h2>-->
  <!--        <p class="service_text">이화여대 김선경, 연세대 김연진, 덕성여대 이민현, 세종대 이완수, 동덕여대 장윤미로 이루어진 팀입니다.<br>-->
  <!--        모두가 날씨에 맞는 옷을 입는 그날까지 -ing.-->
  <!--        </p>-->
  <!--        <p class="copyright">&copy; 2017 WeatherCloset. All Rights Reserved.</p>-->
  <!--</footer>-->


  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

