<html>
<head>
  <meta charset="UTF-8" lang="ko">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--bootstrap css-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!--index.css-->
  <link rel="stylesheet" type="text/css" href="home.scss">
  <!--<link rel="stylesheet" href="index.css">-->
  <title>index.html</title>
</head>
<body>

<!--아래 div는 날씨와 오늘의 코디 배치를 위해 넣었어요.-->
<div class=" container twoarticle row mt-1 ml-auto mr-auto">
<h1><%= @locationValue%></h1>

<!--<div class="container row col-8 ml-auto mr-auto">-->
  <!--날씨를 보여주는 article-->
  <article class="main-weather container ml-4 mr-0 col-8 pl-5 pr-1 row justify-content-between">
  <h1 class="sr-only">간략한 날씨를 보여주는 화면</h1>
    <span class="col-6 tletter mt-2">오늘 날씨</span>
    <div class="col-6 mt-2">
      
      <%= select_tag(:city_id, options_for_select([['Lisbon', 1], ['Madrid', 2]], 1)) %>
      
       <form name="sido" id="search_area form"  class="search_area offset-md-6 col-6 ">
          <!--지역선택-->
        <select name="sido" id="search_area" class="search_area offset-md-6 col-6 " title="지역 선택" >
          <option value="">지역 선택</option>
                      <option value="1">강원도</option>
                      <option value="2">부산광역시</option>
                      <option value="3">서울특별시</option>
                      <option value="4">경기도</option>
                      <option value="5">경상남도</option>
                      <option value="6">경상북도</option>
                      <option value="7">광주광역시</option>
                      <option value="8">대구광역시</option>
                      <option value="9">대전광역시</option>
                      <option value="10">세종특별자치시</option>
                      <option value="11">울산광역시</option>
                      <option value="12">인천광역시</option>
                      <option value="13">전라남도</option>
                      <option value="14">전라북도</option>
                      <option value="15">제주특별자치도</option>
                      <option value="16">충청남도</option>
                      <option value="17">충청북도</option>
        </select>
       </form>
</div>
        <!--날씨-->
        <div class="main-tweather mt-2 row ml-auto mr-auto">

          <div class="col-6 row align-items-center ml-0 mr-0">
            <!-- wansoo : 현재 시각의 날씨 아이콘을 바꿔야해요! assets/ =현재 날씨  .png 이런식으로 바꿔주세요.-->
            <div class="col-5 pl-0 pr-0"><img id="now-images" src="/assets/wicon/<%=@currentData.icon%>.png" alt="now weather icon"></div>



            <!-- wansoo : <값> 괄호까지 지우시고 받아온 값 넣어주시면 됩니당~~-->
            <div class="col-7" id="now-weather">
            <!-- wansoo : 현재 시각(숫자만)을 받아와주세요! " <현재시각>시" 이렇게!!-->
            <% if @korHour == 24 %>
              자정 
            <% elsif @korHour == 12 %>
              정오
            <% elsif @korHour > 12 %>
              오후 <%= @korHour-12 %>시
            <% else %>
              오전 <%= @korHour %>시
            <% end %>
            <br>
            <!-- wansoo : 온도-->
            <%=@currentData.temperature.to_i %>도<br>
            <!-- wansoo : 현재 시각의 날씨를 받아와주세요  <현재날씨>이렇게 -->
            <%=@currentData.summary %><br>
            <!--wansoo : 습도-->
            습도:<%=(@currentData.humidity * 100).to_i%>%<br>
            <!--wansoo : 최고기온, 최저기온 <몇도> 이부분을 지우고 최고기온, 최저기온을 가져와주세요!--->
            최고기온 : <%= @data[0].temperatureMax.to_i %><br>
            최저기온 : <%= @data[0].temperatureMin.to_i %> <br>
            <!--wansoo : 강수량 <0.0> 지우고 강수량 값 받아와주세여~-->
            <!--완수 코멘트 : 강수량대신 강수확률이 더 사용자가 보기 편할 것 같아서 강수확률로 바꿧어여~-->
            강수확률 : <%=(@currentData.precipProbability * 100).to_i %><br>
            <!--wansoo : 미세먼지는 if-else로 단계별로 나타내주시면 감사하겠습니다~~(0-2는 매우좋음? 3-4 좋음, 5-6 중간, 7-8 나쁨, 9-10 : 매우나쁨 이런식으로!!) -->
            미세먼지 : <나쁨><br>


            </div>
          </div>

          <!--1시간 뒤 예보-->
          <div class="col-3 row align-items-center justify-content-center">
            
         
            <div class=" main-atweather align-items-center justify-content-center row ml-0 mr-0">
            <div class="main-aletter">
              
              <% if @korHour+1== 24 %>
              자정 
              <% elsif @korHour+1 == 12 %>
              정오
              <% elsif @korHour+1 > 12 %>
              오후 <%= (@korHour+1)-12 %>시
              <% else %>
              오전 <%= @korHour+1 %>시
              <% end %> 예보
              
            </div>
            
            <!--wansoo : 현재시각+1의 날씨 아이콘을 바꿔야해요! assets/  1시간 뒤의 날씨  .png 이런식으로 바꿔주세요. -->
                <img  id="after-icon" src="assets/wicon/<%=@hourlyData[1].icon%>.png" alt="after 1hour icon">
            <!-- wansoo : 현재시각+1dml 날씨를 알려주세요!-->
              <div id="after-weather" class="ml-3"><%=@hourlyData[1].summary%></div>
            </div>
          </div>


          <!--2시간 뒤 예보-->
          <div class="col-3 row align-items-center justify-content-center">

        
           
            <div class=" main-atweather align-items-center justify-content-center row ml-0 mr-0">

            <div class="main-aletter">
              <% if @korHour+2== 24 %>
              자정 
              <% elsif @korHour+2 == 12 %>
              정오
              <% elsif @korHour+2 > 12 %>
              오후 <%= (@korHour+2)-12 %>시
              <% else %>
              오전 <%= @korHour+2 %>시
              <% end %> 예보
            </div>
                <img  id="after-icon" src="assets/wicon/<%=@hourlyData[2].icon%>.png" alt="after 2hour icon">

       
              <div id="after-weather" class="ml-3"><%=@hourlyData[2].summary%></div>
            </div>
          </div>

        </div>
  </article>
<!--</div>-->


<!--article class에 row를 주고 span에 mt-2를 주면 오늘의 날씨 layout에도 영향이가는 이유는 왜일까..?-->
  <article class=" today-best col-3 ml-4 mr-0">
      <span class="tletter mt-2">오늘의 추천코디</span>
      <div class="main-tcody row align-items-center justify-content-center mt-3">
        <img id="main-tcody" src="assets/photo12.jpg" alt="today best cody">
      </div>
  </article>
</div>

<div class="container row mt-1 ml-auto mr-auto">
<article class="mt-1 today-closet container">
  <span class="tletter mt-2">오늘의 옷장</span>
  <table class="table mt-3">
    <thead class="thead-inverse">
    <tr>
    <th colspan="2">Outer</th>
    <th colspan="2">TOP</th>
    <th colspan="2">Bottom</th>
    <th colspan="2">Dress</th>

    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">블루종</th>
    <td>불가</td>
    <td>후드</td>
    <td>불가</td>
    <td>청치마</td>
    <td>가능</td>
    <td>원피스</td>
    <td>가능</td>
    </tr>
    <tr>
    <th scope="row">과잠</th>
    <td>불가</td>
    <td>반팔</td>
    <td>가능</td>
    <td>면바지</td>
    <td>가능</td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <th scope="row">가디건</th>
    <td>가능</td>
    <td>맨투맨</td>
    <td>불가</td>
    <td>치마</td>
    <td>가능</td>
    <td></td>
    <td></td>
    </tr>
    </tbody>
  </table>
</article>
</div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
