
<head>
  <meta charset="UTF-8" lang="ko">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--bootstrap css-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!--weather.css-->
  <link rel="stylesheet" href="weather.css">
</head>

<h1><%= @myvalue %></h1>
<!--날짜를 받아옵니다!-->

<div class="container">
<section class="row">
<h1> <%=@myday%> </h1>
<!--오늘의 날씨를 보여준다-->
<article class="daily-weather container col-6 pr-0 pl-0">
  <h1 class="sr-only">오늘 날씨</h1>
  <!--title-->
<div class= "row">
              <div class="tcolor mt-2 col-12 dropdown row">
                <div class="offset-md-1">    
                <span class="black">오늘의</span>
                <span class="blue">날씨</span>
                </div>
            
                
            
       
          <button class="btn btn-secondary dropdown-toggle offset-md-6 col-3" type="button"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            지역 선택
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button"><a href="/?id=강원도">강원도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=경기도">경기도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=경상남도">경상남도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=경상북도">경상북도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=광주광역시">광주광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=대구광역시">대구광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=대전광역시">대전광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=부산광역시">부산광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=서울특별시">서울특별시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=세종특별자치시">세종특별자치시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=울산광역시">울산광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=인천광역시">인천광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=전라남도">전라남도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=전라북도">전라북도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=제주특별자치도">제주특별자치도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=충청남도">충청남도</a></button>
            <button class="dropdown-item" type="button"><a href="/?id=충청북도">충청북도</a></button>
            
          </div>
        </div>

              
      
           
  
</div>
  <!--현재의 날씨를 보여준다.-->
  <div class="now-weather container row ml-0 mr-0 mt-2">
      
    <div class="col-12 nwtitle"> 현재, 1시간 예보</div>
    <div class="col-6 nwcontent row ml-0 mr-0 align-items-center">
       
        <img class="col-4 pl-0 pr-0" id="now-images" alt="현재 날씨 아이콘" src="/assets/wicon/<%=@currentData.icon%>.png"></img>
        
        <div class="col-8">
            
         <div class="row justify-content-center">
            <span> 
            <% if @korHour == 24 %>
              자정 
            <% elsif @korHour == 12 %>
              정오
            <% elsif @korHour > 12 %>
              오후 <%= @korHour-12 %>시
            <% else %>
              오전 <%= @korHour %>시
            <% end %> 현재
            </span>
         </div>
        
        <div class="row justify-content-center">
            <div class="mr-1"><%=@currentData.temperature.to_i%>°C</div>/
            <span><%=@currentData.summary %></span>
            <span>미세먼지 : <%= @dustGrade %></span>
        </div>
        
        
        </div>
    </div>
    
  
     <div class="col-3 nwcontent ml-0 mr-0 row align-items-center">
           <div>
         <% if @korHour+1== 24 %>
              자정 
              <% elsif @korHour+1 == 12 %>
              정오
              <% elsif @korHour+1 > 12 %>
              오후 <%= (@korHour+1)-12 %>시
              <% else %>
              오전 <%= @korHour+1 %>시
              <% end %> 예보
    </div>
        <div class="">
           <img class="after-icon col-5 pl-0 pr-0" src="/assets/wicon/<%=@hourlyData[1].icon%>.png" alt="after-2-icon"/>
            <span><%=@hourlyData[1].summary%></span>
        </div>
    </div>
    
    

    <div class="col-3 nwcontent ml-0 mr-0 row align-items-center">
           <div>
         <% if @korHour+2== 24 %>
              자정 
              <% elsif @korHour+2 == 12 %>
              정오
              <% elsif @korHour+2 > 12 %>
              오후 <%= (@korHour+2)-12 %>시
              <% else %>
              오전 <%= @korHour+2 %>시
              <% end %> 예보
    </div class="">
        <div class="">
           <img class="after-icon col-5 pl-0 pr-0" src="/assets/wicon/<%=@hourlyData[2].icon%>.png" alt="after-2-icon"/>
            <span><%=@hourlyData[2].summary%></span>
        </div>
    </div>

  </div>


  <!--어제, 오늘 내일의 대략적인 날씨를 보여준다.-->
  <div class="today-weather-graph container row ml-0 mr-0 mt-5">
      
            <canvas id="myChart" width="400" height="200"></canvas>
            <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["12시간전","8시간전", "4시간전", "현재","12시간후","8시간후", "4시간후"],
                    datasets: [{
                        label: 'Today Weather',
                        data: [ <%= @hourlyData[-12].temperature.to_i%>, <%= @hourlyData[-8].temperature.to_i%>, <%= @hourlyData[-4].temperature.to_i%>, <%= @hourlyData[0].temperature.to_i%>, <%= @hourlyData[4].temperature.to_i%>, <%= @hourlyData[8].temperature.to_i%>, <%= @hourlyData[12].temperature.to_i%>],
                        backgroundColor: [
                            'rgba(255,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)'
                        ],
                        borderColor: [
                            'rgba(0,0,255,0.6)',
                            'rgba(0,0,255,0.6)',
                            'rgba(0,0,255,0.6)',
                            'rgba(255,0,0,0.6)',
                            'rgba(255,0,0,0.6)',
                            'rgba(255,0,0,0.6)',
                            'rgba(0,0,0,0)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
  
      
  </div>
</article>

<!-- 이번주 날씨를 보여준다-->
<article class="weekly-weather container col-6 pl-0 pr-0">
  <h1 class="sr-only">이번 주 날씨</h1>
  <!--title-->
  <div class="tcolor mt-2 offset-md-1">
    <span class="black">이번 주</span>
    <span class="blue">날씨</span>
  </div>

  <div class="col-12 mt-3">
  <table class="tweekly">
    <tbody>
      <tr scope="row">
        <td class="weekly">현재 날씨
          <br> 
           <% if @korHour == 24 %>
              자정 
            <% elsif @korHour == 12 %>
              정오
            <% elsif @korHour > 12 %>
              오후 <%= @korHour-12 %>:<%=@korMin %>
            <% else %>
              오전 <%= @korHour %>:<%=@korMin %>
            <% end %> <br>
          </td>
          
        <td class="weekly">오늘, <%=@todayWeekly%>
          <br>   <%=@todayMon%>.<%=@todayDay%>   </td>
          
        <td class="weekly">내일, <%=@tmrWeekly%>
          <br>  <%=@tmrMon%>.<%=@tmrDay%>   </td>
          
        <td class="weekly"> <%=@thirdWeekly%>
          <br>   <%=@thirdMon%>.<%=@thirdDay%>    </td>
          
      </tr>

      <tr scope="row">
        <td class="weekly-content">
          <!--현재 시각 날씨-->
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@currentData.icon%>.png" alt="">
          <br>
          <span><%=@currentData.summary %></span><br>
          기온 : <span class="temper"><%=@currentData.temperature.to_i %></span>°C<br>
          강수량 : <span class="precipitation"><%= (@currentData.precipIntensity*25.4).to_i %></span>mm<br>
        </td>

        <td class="weekly-content">
          <!--오늘 날씨-->
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[0].icon%>.png" alt="">
          <br>
          <span><%=@data[0].icon%></span><br>
            <span class="temper_blue"><%=@data[0].temperatureMin.to_i %></span>°C/
          <span class="temper_red"><%=@data[0].temperatureMax.to_i %></span>°C<br>
          강수확률 : <span class="precipitation"><%=(@data[0].precipProbability * 100).to_i%></span>%<br>
        </td>


        <td class="weekly-content">
           <!--내일 날씨-->
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[1].icon%>.png" alt="">
          <br>
          <span><%=@data[1].icon%></span><br>
            <span class="temper_blue"><%=@data[1].temperatureMin.to_i %></span>°C/
          <span class="temper_red"><%=@data[1].temperatureMax.to_i %></span>°C<br>
          강수확률 : <span class="precipitation"><%=(@data[1].precipProbability * 100).to_i%></span>%<br>
        </td>

        <td class="weekly-content">
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[2].icon%>.png" alt="">
          <br>
          <span><%=@data[2].icon%></span><br>
            <span class="temper_blue"><%=@data[2].temperatureMin.to_i %></span>°C/
          <span class="temper_red"><%=@data[2].temperatureMax.to_i %></span>°C<br>
          강수확률 : <span class="precipitation"><%=(@data[2].precipProbability * 100).to_i%></span>%<br>
       
        </td>
      </tr>
      <!-- 주간 날씨-->
      <tr scope="row">
        <td class="weekly"> <%= @fourthWeekly%>
        <br> <%=@fourthMon%>.<%=@fourthDay%> </td>
        <td class="weekly"> <%= @fifthWeekly%>
        <br> <%=@fifthMon%>.<%=@fifthDay%> </td>
        <td class="weekly"> <%= @sixthWeekly%>
        <br> <%=@sixthMon%>.<%=@sixthDay%> </td>
        <td class="weekly"> <%= @afteroneWeekly%>
        <br> <%=@afterWeekMon%>.<%=@afterWeekDay%> </td>
      </tr>

      <tr scope="row">
       
        <td class="weekly-content">           
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[3].icon%>.png" alt="">
          <br>
          <span><%=@data[3].icon%></span><br>
            <span class="temper_blue"><%=@data[3].temperatureMin.to_i %></span>°C/
          <span class="temper_red"><%=@data[3].temperatureMax.to_i %></span>°C<br>
          강수확률 : <span class="precipitation"><%=(@data[3].precipProbability * 100).to_i%></span>%<br>
         
        </td>
        <td class="weekly-content">
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[4].icon%>.png" alt="">
          <br>
          <span><%=@data[4].icon%></span><br>
            <span class="temper_blue"><%=@data[4].temperatureMin.to_i %></span>°C/
          <span class="temper_red"><%=@data[4].temperatureMax.to_i %></span>°C<br>
          강수확률 : <span class="precipitation"><%=(@data[4].precipProbability * 100).to_i%></span>%<br>
          
        </td>
        <td class="weekly-content">
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[5].icon%>.png" alt="">
          <br>
          <span><%=@data[5].icon%></span><br>
            <span class="temper_blue"><%=@data[5].temperatureMin.to_i %></span>°C/
          <span class="temper_red"><%=@data[5].temperatureMax.to_i %></span>°C<br>
          강수확률 : <span class="precipitation"><%=(@data[5].precipProbability * 100).to_i%></span>%<br>
         
        </td>
        <td class="weekly-content">
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[6].icon%>.png" alt="">
          <br>
          <span><%=@data[6].icon%></span><br>
            <span class="temper_blue"><%=@data[6].temperatureMin.to_i %></span>°C/
          <span class="temper_red"><%=@data[6].temperatureMax.to_i %></span>°C<br>
          강수확률 : <span class="precipitation"><%=(@data[6].precipProbability * 100).to_i%></span>%<br>
          
        </td>
      </tr>

    </tbody>
  </table>
</div>

</article>

</section>
</div>
