
<head>
  <meta charset="UTF-8" lang="ko">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--bootstrap css-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!--weather.css-->
  <link rel="stylesheet" href="weather.css">
</head>


<!--날짜를 받아옵니다!-->

<div class="container">
<section class="row">
<h1> <%=@myday%> </h1>
<!--오늘의 날씨를 보여준다-->
<article class="daily-weather container col-6 pr-0 pl-0">
  <h1 class="sr-only">오늘 날씨</h1>
  <!--title-->
<div class="tcolor mt-2 offset-md-1">
    <span class="black">오늘의</span>
    <span class="blue">날씨</span>
  </div>
  <!--현재의 날씨를 보여준다.-->
  <div class="now-weather container row ml-0 mr-0 mt-2">
      
    <div class="col-12 nwtitle"> 현재, 1시간 예보</div>
    <div class="col-6 nwcontent row ml-0 mr-0 align-items-center">
       
        <img class="col-4 pl-0 pr-0" id="now-images" alt="현재 날씨 아이콘" src="/assets/wicon/<%=@currentData.icon%>.png"></img>
        
        <div class="col-8">
            
         <div class="row justify-content-center">
            <span> 
            <% if @korHour == 24 %>
              자정 
            <% elsif @korHour == 12 %>
              정오
            <% elsif @korHour > 12 %>
              오후 <%= @korHour-12 %>시
            <% else %>
              오전 <%= @korHour %>시
            <% end %> 현재
            </span>
         </div>
        
        <div class="row justify-content-center">
            <span class="mr-1"><%=@currentData.temperature.to_i%>도</span>
            <span><%=@currentData.summary %></span>
        </div>
        
        
        </div>
    </div>
    
  
     <div class="col-3 nwcontent ml-0 mr-0 row align-items-center">
           <div>
         <% if @korHour+1== 24 %>
              자정 
              <% elsif @korHour+1 == 12 %>
              정오
              <% elsif @korHour+1 > 12 %>
              오후 <%= (@korHour+1)-12 %>시
              <% else %>
              오전 <%= @korHour+1 %>시
              <% end %> 예보
    </div>
        <div class="">
           <img class="after-icon col-5 pl-0 pr-0" src="/assets/wicon/<%=@hourlyData[1].icon%>.png" alt="after-2-icon"/>
            <span><%=@hourlyData[1].summary%></span>
        </div>
    </div>
    
    

    <div class="col-3 nwcontent ml-0 mr-0 row align-items-center">
           <div>
         <% if @korHour+2== 24 %>
              자정 
              <% elsif @korHour+2 == 12 %>
              정오
              <% elsif @korHour+2 > 12 %>
              오후 <%= (@korHour+2)-12 %>시
              <% else %>
              오전 <%= @korHour+2 %>시
              <% end %> 예보
    </div>
        <div class="">
           <img class="after-icon col-5 pl-0 pr-0" src="/assets/wicon/<%=@hourlyData[2].icon%>.png" alt="after-2-icon"/>
            <span><%=@hourlyData[2].summary%></span>
        </div>
    </div>

  </div>


  <!--어제, 오늘 내일의 대략적인 날씨를 보여준다.-->
  <div class="today-weather container row ml-0 mr-0 mt-5">
      
            <canvas id="myChart" width="400" height="200"></canvas>
            <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["자정", "오전 4시", "오전 8시", "정오","오후 4시", "오후 8시", "자정"],
                    datasets: [{
                        label: '# of Votes',
                        data: [ 23, 19, 3, 5, 2, 3, 6],
                        backgroundColor: [
                            'rgba(255,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)',
                            'rgba(0,0,0,0)'
                        ],
                        borderColor: [
                            'rgba(0,0,255,0.6)',
                            'rgba(0,0,255,0.6)',
                            'rgba(0,0,255,0.6)',
                            'rgba(255,0,0,0.6)',
                            'rgba(255,0,0,0.6)',
                            'rgba(255,0,0,0.6)',
                            'rgba(0,0,0,0)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
  
      
  </div>
</article>

<!-- 이번주 날씨를 보여준다-->
<article class="weekly-weather container col-6 pl-0 pr-0">
  <h1 class="sr-only">이번 주 날씨</h1>
  <!--title-->
  <div class="tcolor mt-2 offset-md-1">
    <span class="black">이번 주</span>
    <span class="blue">날씨</span>
  </div>

  <table class="tweekly offset-md-1 col-10" border="1">
    <tbody>
      <tr scope="row">
        <td class="weekly">현재 날씨
          <br> 
           <% if @korHour == 24 %>
              자정 
            <% elsif @korHour == 12 %>
              정오
            <% elsif @korHour > 12 %>
              오후 <%= @korHour-12 %>:<%=@korMin %>
            <% else %>
              오전 <%= @korHour %>:<%=@korMin %>
            <% end %> <br>
          </td>
          
        <td class="weekly">오늘, <%=@todayWeekly%>
          <br>   <%=@todayMon%>.<%=@todayDay%>   </td>
          
        <td class="weekly">내일, <%=@tmrWeekly%>
          <br>  <%=@tmrMon%>.<%=@tmrDay%>   </td>
          
        <td class="weekly"> <%=@thirdWeekly%>
          <br>   <%=@thirdMon%>.<%=@thirdDay%>    </td>
          
      </tr>

      <tr scope="row">
        <td class="weekly-content">
          <!--현재 시각 날씨-->
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@currentData.icon%>.png" alt="">
          <br>
          <span><%=@currentData.summary %></span><br>
          기온 : <span class="temper"><%=@currentData.temperature.to_i %></span>°C<br>
          강수확률 : <span class="precipitation"><%=(@currentData.precipProbability * 100).to_i %></span>%<br>
        </td>

        <td class="weekly-content">
          <!--오늘 날씨-->
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[0].icon%>.png" alt="">
          <br>
          <span>summary</span><br>
          기온 : <span class="temper">32</span><br>
          강수확률 : <span class="precipitation"><%=(@data[0].precipProbability * 100).to_i%></span>%<br>
        </td>


        <td class="weekly-content">
           <!--내일 날씨-->
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[1].icon%>.png" alt="">
          <br>
          <span>summary</span><br>
          기온 : <span class="temper">32</span><br>
          강수확률 : <span class="precipitation"><%=(@data[1].precipProbability * 100).to_i%></span>%<br>
        </td>

        <td class="weekly-content">
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[2].icon%>.png" alt="">
          <br>
          <span>summary</span><br>
          최저기온 <span class="temper_blue"><%=@data[2].temperatureMin.to_i %></span>°C<br>
          최고기온 <span class="temper_red"><%=@data[2].temperatureMax.to_i %></span>°C<br>
       
        </td>
      </tr>
      <!-- 주간 날씨-->
      <tr scope="row">
        <td class="weekly"> <%= @fourthWeekly%>
        <br> <%=@fourthMon%>.<%=@fourthDay%> </td>
        <td class="weekly"> <%= @fifthWeekly%>
        <br> <%=@fifthMon%>.<%=@fifthDay%> </td>
        <td class="weekly"> <%= @sixthWeekly%>
        <br> <%=@sixthMon%>.<%=@sixthDay%> </td>
        <td class="weekly"> <%= @afteroneWeekly%>
        <br> <%=@afterWeekMon%>.<%=@afterWeekDay%> </td>
      </tr>

      <tr scope="row">
       
        <td class="weekly-content">           
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[3].icon%>.png" alt="">
          <br>
          <span>summary</span><br>
          최저기온 <span class="temper_blue"><%=@data[3].temperatureMin.to_i %></span>°C<br>
          최고기온 <span class="temper_red"><%=@data[3].temperatureMax.to_i %></span>°C<br>
         
        </td>
        <td class="weekly-content">
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[4].icon%>.png" alt="">
          <br>
          <span>summary</span><br>
          최저기온 <span class="temper_blue"><%=@data[4].temperatureMin.to_i %></span>°C<br>
          최고기온 <span class="temper_red"><%=@data[4].temperatureMax.to_i %></span>°C<br>
          
        </td>
        <td class="weekly-content">
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[5].icon%>.png" alt="">
          <br>
          <span>summary</span><br>
          최저기온 <span class="temper_blue"><%=@data[5].temperatureMin.to_i %></span>°C<br>
          최고기온 <span class="temper_red"><%=@data[5].temperatureMax.to_i %></span>°C<br>
         
        </td>
        <td class="weekly-content">
          <img class="weekly-wicon mb-2" src="/assets/wicon/<%=@data[6].icon%>.png" alt="">
          <br>
          <span>summary</span><br>
          최저기온 <span class="temper_blue"><%=@data[6].temperatureMin.to_i %></span>°C<br>
          최고기온 <span class="temper_red"><%=@data[6].temperatureMax.to_i %></span>°C<br>
          
        </td>
      </tr>

    </tbody>
  </table>


</article>

</section>
</div>
