  <head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/mypage.css" >
    <title>My Closet</title>
  </head>
  <body>
    <div class="container">
      <!--Profile-->
      <!-- user info -->
      <section class="user profile">
      <div class="py-3 row">
        <div class="col-12 col-lg-6 offset-xl-2 col-xl-4 d-flex flex-row">
          <div class="col-3 d-flex flex-column justify-content-center">
            <p>프로필사진</p>
          </div>
          <div class="col-9 d-flex flex-column justify-content-center">
            <span class="mb-1">이름
                <a class="ml-1" href="/home/setting">
                  <i class="fa fa-cog" aria-hidden="true"></i></a>
            </span>
            <span class="small mb-1 font-weight-light">거주지역 : </span>
            <span class="small mb-1">스타일 : </span>
          </div>
        </div>
      </div>
      </section>
    <!-- 내 옷장 사진들 -->
    <div class="row">
          <div class="col-12">
            <br>
            <h4>My Closet</h4> <br>
            <hr>
          </div>
    </div>
    
     
    <div class="row">
      <div class="col-11"></div>
      <div class="col-1">
          <!-- Button trigger modal -->
          <button class="btn btn-outline-primary" data-target="#layerpop" data-toggle="modal">Upload</button>
      </div>
    </div>
    <br>
    <!-- 나중에는 루비 반복문으로 돌려야함 -->
    <div class="row mb-5 no-gutters">
      <div class="col-4 clst">
        <img class="upload-img" src="/assets/photo1.jpg" alt="업로드 사진" >
        <div class="overlay">
          <div class="text justify-content-center">
            <i class="like fa fa-heart"></i>
            <i class="comment fa fa-commenting-o"></i>
          </div>
      </div>
      </div>
      <div class="col-4 clst">
        <img class="upload-img" src="/assets/photo2.jpg" alt="업로드 사진" >
        <div class="overlay">
          <div class="text justify-content-center">
            <i class="like fa fa-heart"></i>
            <i class="comment fa fa-commenting-o"></i>
          </div>
      </div>
      </div>
      <div class="col-4 clst">
        <img class="upload-img" src="/assets/photo3.jpg" alt="업로드 사진" >
        <div class="overlay">
          <div class="text justify-content-center">
            <i class="like fa fa-heart"></i>
            <i class="comment fa fa-commenting-o"></i>
          </div>
      </div>
    </div>
    </div>
    <div class="row mb-5 no-gutters">
      <div class="col-4 clst">
        <img class="upload-img" src="/assets/photo4.jpg" alt="업로드 사진" >
        <div class="overlay">
          <div class="text justify-content-center">
            <i class="like fa fa-heart"></i>
            <i class="comment fa fa-commenting-o"></i>
          </div>
      </div>
      </div>
      <div class="col-4 clst">
        <img class="upload-img" src="/assets/photo5.jpg" alt="업로드 사진" >
        <div class="overlay">
          <div class="text justify-content-center">
            <i class="like fa fa-heart"></i>
            <i class="comment fa fa-commenting-o"></i>
          </div>
      </div>
      </div>
      <div class="col-4 clst">
        <img class="upload-img" src="/assets/photo6.jpg" alt="업로드 사진" >
        <div class="overlay">
          <div class="text justify-content-center">
            <i class="like fa fa-heart"></i>
            <i class="comment fa fa-commenting-o"></i>
          </div>
      </div>
    </div>
    </div>
    
    <!-- 글 작성  -->
    <!-- Modal -->
    <div class="modal fade" id="layerpop" >
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">+ New Closet</h4>
        </div>
        <!-- body -->
        <div class="modal-body mx-auto">
          <%= form_tag("/posts/create",  method: "post", multipart: true) do %>
            <div class="row justify-content-end">
              <p> OPEN ? &nbsp;&nbsp;</p> 
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </div>
            <p> DATE&nbsp;&nbsp;:&nbsp;&nbsp;
                <%= date_field_tag 'input_date', nil %>
            </p> PHOTO&nbsp;:&nbsp;
                <%= file_field_tag 'image', accept: 'image/*' %><br> <br>
            <p> Comment</p>    
            <p>
              <%= text_area_tag 'input_content', nil, style: "width: 100%", rows: 5 %>
            </p>
            <hr>
            <p> OUTER :
              <%= text_field_tag 'outer', nil, style: "width: 33%" %>
            </p>
            <p> TOP   :
              <%= text_field_tag 'top', nil, style: "width: 33%" %>
            </p>
            <p> BOTTOM :
              <%= text_field_tag 'bottom', nil, style: "width: 33%" %>
            </p>
            <p> DRESS  :
              <%= text_field_tag 'dress', nil, style: "width: 33%" %>
            </p>
            <p> ETC    :
              <%= text_field_tag 'etc', nil, style: "width: 33%" %>
            </p>
            <p></p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal"> Upload </button>
          <% end %>
        </div>
      </div>
    </div>
    
    

  </div>
  
  