
  <head>
    <link rel="stylesheet" href="css/ourpage.css" >
    
    <title>Our Closet</title>

  </head>
  <body>
    <div class="container">
      <!--We closet-->
      <div class="row">
            <div class="col-12">
              <br>
              <h4 class="text-center">Our Closet</h4> <br>
            </div>
      </div>
  <div class="row mb-5 no-gutters">      
      <% @posts.each do |post| %>
      <% if post.show_attribute == true %>
        

          
          <div class="col-4 mt-5 clst">
            <% if post.image.url.nil? %>
             <%= image_tag("logo_.png") %>
           <% else %>
             <%= image_tag post.image.url, :class => "upload-img"%>
           <% end %>
          <!--<img class="upload-img" src="" alt="업로드 사진" >-->
            <!--<div class="overlay">-->
            <!--  <div class="text justify-content-center">-->
            <!--    <i class="like fa fa-heart"></i>-->
            <!--    <i class="comment fa fa-commenting-o"></i>-->
              
            <!--  </div>-->
            <!--</div>-->
            <div class="row mt-2 justify-content-center">
              <% if post.likes.size == 0 %>
              <p><%= post.likes.size %> 명이 좋아합니다.</p>
              <% else %>
              <p><%= post.likes_count %> 명이 좋아합니다.</p>
              <% end %>
              
              <% if current_user.is_like?(post) %>
                    <%= link_to post_like_path(post), method: "post" do %>
                    <i class="heart fa fa-heart fa-2x"></i>
                  <% end %>
              <% else %>
                  <%= link_to post_like_path(post), method: "post" do %>
                  <i class="heart fa fa-heart-o fa-2x"></i>
                  <% end %>
              <% end %>
              <i class="star fa fa-star-o fa-2x"></i>
            </div>
          </div>
        
        <% end %>
        <% end %>
        </div>
      
  <!--    <div class="row mb-5 no-gutters">-->
  <!--    <div class="col-4 clst">-->
  <!--      <img class="upload-img" src="/assets/photo1.jpg" alt="업로드 사진" >-->
  <!--      <div class="overlay">-->
  <!--        <div class="text justify-content-center">-->
  <!--          <i class="like fa fa-heart"></i>-->
  <!--          <i class="comment fa fa-commenting-o"></i>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row mt-2 justify-content-center">-->
  <!--        <i class="heart fa fa-heart-o fa-2x"></i>-->
  <!--        <i class="star fa fa-star-o fa-2x"></i>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-4 clst">-->
  <!--      <img class="upload-img" src="/assets/photo2.jpg" alt="업로드 사진" >-->
  <!--      <div class="overlay">-->
  <!--        <div class="text justify-content-center">-->
  <!--          <i class="like fa fa-heart"></i>-->
  <!--          <i class="comment fa fa-commenting-o"></i>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row mt-2 justify-content-center">-->
  <!--        <i class="heart fa fa-heart-o fa-2x"></i>-->
  <!--        <i class="star fa fa-star-o fa-2x"></i>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-4 clst">-->
  <!--      <img class="upload-img" src="/assets/photo3.jpg" alt="업로드 사진" >-->
  <!--      <div class="overlay">-->
  <!--       <div class="text justify-content-center">-->
  <!--          <i class="like fa fa-heart"></i>-->
  <!--          <i class="comment fa fa-commenting-o"></i>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row mt-2 justify-content-center">-->
  <!--        <i class="heart fa fa-heart-o fa-2x"></i>-->
  <!--        <i class="star fa fa-star-o fa-2x"></i>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
    
  <!--  <div class="row mb-5 no-gutters">-->
  <!--    <div class="col-4 clst">-->
  <!--      <img class="upload-img" src="/assets/photo7.jpg" alt="업로드 사진" >-->
  <!--      <div class="overlay">-->
  <!--        <div class="text justify-content-center">-->
  <!--          <i class="like fa fa-heart"></i>-->
  <!--          <i class="comment fa fa-commenting-o"></i>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row mt-2 justify-content-center">-->
  <!--        <i class="heart fa fa-heart-o fa-2x"></i>-->
  <!--        <i class="star fa fa-star-o fa-2x"></i>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-4 clst">-->
  <!--      <img class="upload-img" src="/assets/photo8.jpg" alt="업로드 사진" >-->
  <!--      <div class="overlay">-->
  <!--        <div class="text justify-content-center">-->
  <!--          <i class="like fa fa-heart"></i>-->
  <!--          <i class="comment fa fa-commenting-o"></i>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row mt-2 justify-content-center">-->
  <!--        <i class="heart fa fa-heart-o fa-2x"></i>-->
  <!--        <i class="star fa fa-star-o fa-2x"></i>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-4 clst">-->
  <!--      <img class="upload-img" src="/assets/photo9.jpg" alt="업로드 사진" >-->
  <!--      <div class="overlay">-->
  <!--        <div class="text justify-content-center">-->
  <!--          <i class="like fa fa-heart"></i>-->
  <!--          <i class="comment fa fa-commenting-o"></i>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row mt-2 justify-content-center">-->
  <!--        <i class="heart fa fa-heart-o fa-2x"></i>-->
  <!--        <i class="star fa fa-star-o fa-2x"></i>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>    -->
  <!--  <div class="row mb-5 no-gutters">-->
  <!--    <div class="col-4 clst">-->
  <!--      <img class="upload-img" src="/assets/photo10.jpg" alt="업로드 사진" >-->
  <!--      <div class="overlay">-->
  <!--        <div class="text justify-content-center">-->
  <!--          <i class="like fa fa-heart"></i>-->
  <!--          <i class="comment fa fa-commenting-o"></i>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row mt-2 justify-content-center">-->
  <!--        <i class="heart fa fa-heart-o fa-2x"></i>-->
  <!--        <i class="star fa fa-star-o fa-2x"></i>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-4 clst">-->
  <!--      <img class="upload-img" src="/assets/photo11.jpg" alt="업로드 사진" >-->
  <!--      <div class="overlay">-->
  <!--       <div class="text justify-content-center">-->
  <!--          <i class="like fa fa-heart"></i>-->
  <!--          <i class="comment fa fa-commenting-o"></i>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row mt-2 justify-content-center">-->
  <!--        <i class="heart fa fa-heart-o fa-2x"></i>-->
  <!--        <i class="star fa fa-star-o fa-2x"></i>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-4 clst">-->
  <!--      <img class="upload-img" src="/assets/photo12.jpg" alt="업로드 사진" >-->
  <!--      <div class="overlay">-->
  <!--        <div class="text justify-content-center">-->
  <!--          <i class="like fa fa-heart"></i>-->
  <!--          <i class="comment fa fa-commenting-o"></i>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row mt-2 justify-content-center">-->
  <!--        <i class="heart fa fa-heart-o fa-2x"></i>-->
  <!--        <i class="star fa fa-star-o fa-2x"></i>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
        
  </div>
  <script>
    $(".star.fa").click(function() {
      $(this).toggleClass("fa-star  fa-star-o");
    });
    
    $(".heart.fa").click(function() {
      $(this).toggleClass("fa-heart fa-heart-o");
    });

  </script>
  
  </body>

