
<head>
  <title>Weather Closet</title>
  <!-- Required meta tags -->
  <meta charset="UTF-8" lang="ko">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/application.css.scss" >
    <!-- font awesome CSS -->
    <link rel="stylesheet" type="text/css" href="fa/font-awesome-4.7.0/fonts/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--header-->
      <header>
        <nav class="navbar sticky-top navbar-toggleable-md navbar-light">
          <div class="container navline mx-0 mx-sm-auto">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/" lang="en"><div class="logoimg"><img src="/assets/logo_.png" alt="weathercloset"></div></a>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item  mr-2">
                <a class="nav-link" href="/" lang="en">Home<span class="sr-only">(현재 페이지)</span></a>
              </li>
              <% if user_signed_in?  %> 
              <li class="nav-item  mr-2">
                <a class="nav-link" href="/home/weather" lang="en">Weather</a>
              </li>
              <% else #로그인을안했으면 %>
              	<li class="nav-item  mr-2">
                <a class="nav-link" href="#" lang="en">Weather</a>
              </li>
              <% end %>
              
              <% if user_signed_in? #로그인을 했으면 %>
              <li class="nav-item  mr-2">
                <a class="nav-link" href="/posts/myindex" lang="en">My</a>
              </li>
              <% else #로그인을안했으면 %>
              	<li class="nav-item mr-2">
                <a class="nav-link" href="#" lang="en">My</a>
              </li>
              <% end %>
              
              <% if user_signed_in? #로그인을 했으면 %>
              <li class="nav-item mr-2">
                <a class="nav-link" href="/posts/ourindex" lang="en">Our</a>
              </li>
              <% else #로그인을안했으면 %>
              	<li class="nav-item mr-2">
                <a class="nav-link" href="#" lang="en">Our</a>
              </li>
              <% end %>
      
              <% if user_signed_in? #로그인을 했으면 %>
                <li class="nav-item mr-2"> 
                <a class="nav-link" href="/users/edit">
                  <%= current_user.name %>
                  </a>
                  </li>
              	<li class="nav-item mr-2"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: :"nav-link"  %></li>	
              <% else #로그인을안했으면 %>
              	<li class="nav-item mr-2"><%= link_to 'Log in/Join', new_user_session_path, class: :"nav-link" %></li>
              <% end %>
            </ul>
          </div>
          </div>
        </nav>
        </header>
        
         <script>
       var url = window.location;
        // Will only work if string in href matches with location
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');
        // Will also work for relative and absolute hrefs
        $('ul.nav a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');
      </script>
         <!-- jQuery CDN -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <!-- Bootstrap CDN -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      
        <%= yield %>
</body>
      

        
